<div class="container">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>
        <a routerLinkActive="active" routerLink="list">List</a>
      </li>
      <li>
          <a routerLinkActive="active" routerLink="create">Create</a>
        </li>
      </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
